@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

input::placeholder {
    padding: 10px;
}

textarea::placeholder {
    padding: 10px;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/* jjj */

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 9999;
}

.preloader .color-1 {
    background-color: #ffc600 !important;
}

.rubix-cube {
    border: 1px solid #FFF;
    width: 48px;
    height: 48px;
    background-color: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rubix-cube .layer {
    width: 14px;
    height: 14px;
    background-color: #07294d;
    border: 1px solid #FFF;
    position: absolute;
}

.rubix-cube .layer-1 {
    left: 0px;
    top: 0px;
    -webkit-animation: rubixcube4 2s infinite linear;
    animation: rubixcube4 2s infinite linear;
}

.rubix-cube .layer-2 {
    left: 16px;
    top: 0px;
    animation: rubixcube3 2s infinite linear;
}

.rubix-cube .layer-3 {
    left: 32px;
    top: 0px;
}

.rubix-cube .layer-4 {
    left: 0px;
    top: 16px;
    animation: rubixcube5 2s infinite linear;
}

.rubix-cube .layer-5 {
    left: 16px;
    top: 16px;
    animation: rubixcube2 2s infinite linear;
}

.rubix-cube .layer-6 {
    left: 32px;
    top: 16px;
    animation: rubixcube1 2s infinite linear;
}

.rubix-cube .layer-7 {
    left: 0px;
    top: 32px;
    animation: rubixcube6 2s infinite linear;
}

.rubix-cube .layer-8 {
    left: 16px;
    top: 32px;
    animation: rubixcube7 2s infinite linear;
}


@keyframes rubixcube1 {
    20% {
        top: 16px;
        left: 32px;
    }
    30% {
        top: 32px;
        left: 32px;
    }
    40% {
        top: 32px;
        left: 32px;
    }
    50% {
        top: 32px;
        left: 32px;
    }
    60% {
        top: 32px;
        left: 32px;
    }
    70% {
        top: 32px;
        left: 32px;
    }
    80% {
        top: 32px;
        left: 32px;
    }
    90% {
        top: 32px;
        left: 32px;
    }
    100% {
        top: 32px;
        left: 16px;
    }
}


@keyframes rubixcube2 {
    30% {
        left: 16px;
    }
    40% {
        left: 32px;
    }
    50% {
        left: 32px;
    }
    60% {
        left: 32px;
    }
    70% {
        left: 32px;
    }
    80% {
        left: 32px;
    }
    90% {
        left: 32px;
    }
    100% {
        left: 32px;
    }
}

@keyframes rubixcube3 {
    30% {
        top: 0px;
    }
    40% {
        top: 0px;
    }
    50% {
        top: 16px;
    }
    60% {
        top: 16px;
    }
    70% {
        top: 16px;
    }
    80% {
        top: 16px;
    }
    90% {
        top: 16px;
    }
    100% {
        top: 16px;
    }
}


@keyframes rubixcube4 {
    50% {
        left: 0px;
    }
    60% {
        left: 16px;
    }
    70% {
        left: 16px;
    }
    80% {
        left: 16px;
    }
    90% {
        left: 16px;
    }
    100% {
        left: 16px;
    }
}


@keyframes rubixcube5 {
    60% {
        top: 16px;
    }
    70% {
        top: 0px;
    }
    80% {
        top: 0px;
    }
    90% {
        top: 0px;
    }
    100% {
        top: 0px;
    }
}


@keyframes rubixcube6 {
    70% {
        top: 32px;
    }
    80% {
        top: 16px;
    }
    90% {
        top: 16px;
    }
    100% {
        top: 16px;
    }
}



@keyframes rubixcube7 {
    80% {
        left: 16px;
    }
    90% {
        left: 0px;
    }
    100% {
        left: 0px;
    }
}

.navbar {
    position: fixed;
    /* background: crimson; */
    padding: 30px 0;
    z-index: 999;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3 ease;
}

.navbar.sticky {
    padding: 15px 0;
    background: crimson;
    animation: sticky 2s;
}

@keyframes sticky {
    0%{
        transform: translateY(-100%)
    }
    100%{
        transform: translateY(0%);
    }
}


.navbar.sticky .menu li a:hover {
    color: #fff;
}

.navbar.sticky .logo a span {
    color: #fff;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 35px;
    font-weight: 600;
    color: #000;
}

.navbar .logo a span {
    color: crimson;
    transition: all 0.3s ease;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    display: block;
    color: #000;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease ease-in;
}

.navbar .menu li a:hover {
    color: crimson;
}

/* menu btn */

.menu-btn {
    color: #000;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/* section home */

.home {
    display: flex;
    background: url("../img/banner-1.png") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    color: #000;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width {
    margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
    font-size: 27px;
}

.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 span {
    color: crimson;
    font-weight: 500;
}

.home .home-content a {
    display: inline-block;
    background: crimson;
    color: #000;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 19px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.home .home-content a:hover {
    color: crimson;
    background: none;
}

/* all section */

.about, .services, .skills, .teams, .contact, .timeline-education {
    font-family: 'Poppins', sans-serif;
}

.about .about-content, .services .services-content, .skills .skills-content, .contact .contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

section {
    padding: 100px 0;
}

section .title {
    position: relative;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
}

section .title::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}

section .title::after {
    position: absolute;
    font-size: 20px;
    color: #D66D75;
    bottom: -12px;
    left: 50%;
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);
}

/* about section */

.about .title::after {
    content: "Who I Am";
}

.about .about-content .left img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 50%;
}

.about .about-content .right {
    width: 55%;
}

.about .about-content .right .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 12px;
}

.about .about-content .right .text span {
    color: #6190E8;
    font-size: 30px;
}

.about .about-content .right p {
    text-align: justify;
}

.about .about-content .right a {
    display: inline-block;
    background: #0575E6;
    color: #000;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 30px;
    margin-top: 20px;
    border-radius: 65px;
    border: 2px solid #0575E6;
    transition: all 0.3s ease;
}

.about .about-content .right a:hover {
    color: teal;
    background: none;
}

/* services section */

.services, .teams {
    color: #fff;
    background: #111;
}

.services .title::before, .teams .title::before {
    background: #fff;
}

.services .title::after, .teams .title::after {
    background: #111;
    content: "What I Provide";
}

.services .services-content .card {
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 10px;
    padding: 20px 25px;
    cursor: pointer;
}

.services .services-content .card:hover {
    background: #A68686;
}

.services .services-content .card:hover i {
    color: #DF3030;
}

.services .services-content .card:hover .text {
    color: #600505;
}

.services .services-content .card .box {
    transition: all 0.3s ease;
}

.services .services-content .card:hover .box {
    transform: scale(1.05);
}

.services .services-content .card i {
    font-size: 50px;
    color: #845EC2;
    transition: color 0.3s ease;
}

.services .services-content .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

/* Skills Section */

.skills .title::after {
    content: "What I Know";
}

.skills .skills-content .column {
    width: calc(50% - 30px);
}

.skills .skills-content .left .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.skills .skills-content .left p {
    text-align: justify;
}

.skills .skills-content .left a {
    display: inline-block;
    background: #0575E6;
    color: #000;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 65px;
    border: 2px solid #0575E6;
    transition: all 0.3s ease;
}

.skills .skills-content .left a:hover {
    color: teal;
    background: none;
}

.skills .skills-content .right .bars {
    margin-bottom: 15px;
}

.skills .skills-content .right .info {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}

.skills .skills-content .right span {
    font-weight: 500;
    font-size: 18px;
}

.skills .skills-content .right .line {
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
    border-radius: 50px;
}

.skills .skills-content .right .line::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: #FE6666;
    border-radius: 50px;
}

.skills-content .right .html::before {
    width: 50%;
}

.skills-content .right .css::before {
    width: 50%;
}

.skills-content .right .javascript::before {
    width: 5%;
}

.skills-content .right .reactjs::before {
    width: 5%;
}

.skills-content .right .nodejs::before {
    width: 5%;
}

/* teams section  */

.teams .title::after {
    content: "Who With Me";
}

.teams .carousel .card {
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    transition: all 0.3s ease;
}

.teams .carousel .card:hover {
    background: cornflowerblue;
}

.teams .carousel .card:hover .box {
    transform: scale(1.05);
}

.teams .carousel .card:hover img {
    transform: scale(1.09);
}

.teams .carousel .card .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.teams .carousel .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

.teams .carousel .card img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #D05B5B;
}

.owl-dots {
    text-align: center;
    margin-top: 20px;
}

.owl-dot {
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none !important;
    border-radius: 50%;
    border: 2px solid #805050 !important;
    transition: all 0.3s ease;
}

.owl-dot.active {
    width: 35px;
    border-radius: 14px;
}

.owl-dot.active, .owl-dot:hover {
    background: #805050 !important;
}

/* timeline-education section */

.timeline-education .title::after {
    content: 'Training';
    background: linear-gradient(315deg, #4c4177 0%, #2a5470 74%);
}

.timeline-education {
    background: #4c4177;
    background-image: linear-gradient(315deg, #4c4177 0%, #2a5470 74%);
}

.timeline-education .timeline-items {
    margin: 0 auto;
    padding: 30px;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.timeline-education .timeline-items::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background: #2f363e;
    left: calc(50% - 1px);
}

.timeline-education .timeline-items .timeline-item {
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}

.timeline-education .timeline-items .timeline-item:last-child {
    margin-bottom: 0;
}

.timeline-education .timeline-items .timeline-item:nth-child(odd) {
    padding-right: calc(50% + 30px);
    text-align: right;
}

.timeline-education .timeline-items .timeline-item:nth-child(even) {
    padding-left: calc(50% + 30px);
}
.timeline-education .timeline-items .timeline-item .timeline-dot {
    height: 16px;
    width: 16px;
    position: absolute;
    background: #600505;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 0px;
}

.timeline-education .timeline-items .timeline-item .timeline-date {
    font-size: 18px;
    color: #ffc600;
    font-weight: 600;
    margin: 6px 0 15px;
}
.timeline-education .timeline-items .timeline-item .timeline-content {
    background: #2f363e;
    padding: 30px;
    border-radius: 8px;
}

.timeline-education .timeline-items .timeline-item .timeline-content h3 {
    font-size: 20px;
    color: #fff;
    margin: 0 0 10px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.timeline-education .timeline-items .timeline-item .timeline-content p {
    color: #c8c8c8;
    font-size: 16px;
    font-weight: 300;
    line-height: 33px;
}
/* contact section */

.contact .title::after {
    content: "Get In Touch";
}

.contact .contact-content .column {
    width: calc(50% - 30px);
}

.contact .contact-content.text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact .contact-content .left p {
    text-justify: auto;
}

.contact .contact-content .left .icons {
    margin: 10px 0;
}

.contact .contact-content .row {
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact-content .row .info {
    margin-left: 20px;
}

.contact .contact-content .row i {
    font-size: 25px;
    color: #4648F1;
}

.contact .contact-content .info .head {
    font-weight: 500;
}

.contact .contact-content .info .sub.title {
    color: #333;
}

.contact .right form .fields {
    display: flex;
}

.contact .right form .field, .contact .right form .fields .field {
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}

.contact .right form .name {
    margin-right: 10px;
}

.contact .right form .email {
    margin-left: 10px;
}

.contact .right form .textarea {
    height: 80px;
    width: 100%;
}

.contact .right form .field input, .contact .right form .textarea textarea {
    height: 100%;
    width: 100%;
    border: 2px solid #D66D75;
    border-radius: 6px;
    outline: none;
    padding: 0 15ppx;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

/* .contact .right form .field input::after,
.contact .right form .textarea textarea::after {
    position: absolute;
    content: '';
    font-size: 20px;
    color: #D66D75;
    bottom: -12px;
    left: 50%;
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);
} */

.contact .right form .textarea textarea {
    padding-top: 10px;
    resize: none;
}

.contact .right form .button {
    height: 47px;
    width: 170px;
}

.contact .right form .button button {
    width: 100%;
    height: 100%;
    border: 2px solid #3D40FA;
    background: #3D40FA;
    border-radius: 25px;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;
    transition: color 0.3s ease;
}

.contact .right form .button:hover button {
    background: none;
    color: #000;
}

#status {
    width: 90%;
    max-width: 500px;
    text-align: center;
    margin: -35px 0;
}

#status.success {
    color: lime;
    animation: status 4s ease forwards;
}

#status.error {
    color: crimson;
    animation: status 4s ease forwards;
}

@keyframes status {
    0% {
        opacity: 1;
        pointer-events: all;
    }
    90% {
        opacity: 1;
        pointer-events: all;
    }
    100% {
        opacity: 0;
        pointer-events: none;
    }
}

/* reponsive media query */

@media (max-width: 1280px) {
    .home .max-width {
        margin-left: 0px;
    }
}

@media (max-width: 1030px) {
    .about .about-content .left img {
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 990px) {
    .max-width {
        padding: 0 50px;
    }
}

@media (max-width: 968px) {
    .menu-btn {
        color: #fff;
        display: block;
        z-index: 999;
    }
    .menu-btn i.active::before {
        content: '\f00d';
    }
    .max-width {
        padding: 0 50px;
    }
    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active {
        left: 0;
    }
    .navbar .menu li a {
        color: #fff;
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .navbar .menu li {
        display: block;
    }
    .home .home-content .text-2 {
        font-size: 70px;
    }
    .home .home-content .text-3 {
        font-size: 35px;
    }
    .home .home-content a {
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width {
        max-width: 800px;
    }
    .about .about-content .column {
        width: 100%;
    }
    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right {
        flex: 100%;
    }
    .services .services-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column, .contact .contact-content .column {
        width: 100%;
        margin-bottom: 25px;
    }

    .timeline-education .timeline-items::before {
        left: 37px;
    }

    .timeline-education .timeline-items .timeline-item:nth-child(odd) {
        padding-right: 0;
        text-align: left;
    }
    
    .timeline-education .timeline-items .timeline-item:nth-child(even),
    .timeline-education .timeline-items .timeline-item:nth-child(odd) {
        padding-left: 37px;
    }

    .timeline-education .timeline-items .timeline-item .timeline-dot {
        left: 0;
        top: 0;
    }
}

@media (max-width: 690px) {
    .max-width {
        padding: 0 23px;
    }
    .home .home-content .text-2 {
        font-size: 60px;
    }
    .home .home-content .text-3 {
        font-size: 32px;
    }
    .home .home-content a {
        font-size: 20px;
    }
    .services .services-content .card {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .home .home-content .text-2 {
        font-size: 50px;
    }
    .home .home-content .text-3 {
        font-size: 27px;
    }
    .wrapper .center-line, .row .section::before, .row .section .icon {
        display: none;
    }
    .wrapper .row {
        margin: 10px 0;
    }
}